[submodule "cryptodoge-gui"]
	path = cryptodoge-gui
	url = https://github.com/Cryptodoge-Network/cryptodoge/cryptodoge-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Cryptodoge-Network/mozilla-ca.git
        branch = main
